<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <button class="navbar-toggler col" type="button" data-toggle="collapse" data-target="#collapsibleNavbarModo">
        {% for role in app.user.roles %}
            <a class="navbar-brand">Menu {{ role|replace({'ROLE_' : ''}) }}</a>
        {% endfor %}
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbarModo">
        <ul class="navbar-nav">
        {% if is_granted('ROLE_MODERATOR')%}
            <li class="nav-item">
                <a class="nav-link {% if currantPage == 'userAdmin' %}bg-secondary{% endif %}" href="{{path('admin_user_list')}}">Utilisateur</a>
            </li>
        {% endif %}
        {% if is_granted('ROLE_EDITOR')%}
            <li class="nav-item bg-warning">
                <a class="nav-link {% if currantPage == 'makeNews' %}bg-secondary{% endif %}" href="{{path('news_add')}}">Crée une news</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if currantPage == 'newsAdmin' %}bg-secondary{% endif %}" href="{{path('admin_news_list')}}">News</a>
            </li>        
            <li class="nav-item">
                <a class="nav-link {% if currantPage == 'artistAdmin' %}bg-secondary{% endif %}" href="{{path('admin_artists_list')}}">Artiste</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if currantPage == 'musicianAdmin' %}bg-secondary{% endif %}" href="{{path('admin_musicians_list')}}">Personnalité</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if currantPage == 'discAdmin' %}bg-secondary{% endif %}" href="{{path('admin_discs_list')}}">CD</a>
            </li> 
        {% endif %}  
        </ul>
    </div>  
</nav>



