{% extends 'base.html.twig' %}

{% block title %}ApoSongs | Modification {{name}}{% endblock %}

{% block body %}

<div class="col-lg-10 mt-3 mt-md-0 mx-auto">
<a class="btn btn-success"href="{{path('admin_user_list')}}">Revenir a la liste des utilisateurs</a>
    
    <div class="row mt-5">
        <div class="col-lg-4">            
            {{form(changeMail)}}
        </div>
        <div class="col-lg-3">            
            {{form(changePass)}}
        </div>
        <div class="col-lg-3">            
            {{form(changeUser)}}
        </div>
        
    </div>

    <div class="row">
        <div class="col-4 mt-3" id="form">

            
        </div>
    </div>

</div>

{% endblock %}


