{% extends 'base.html.twig' %}

{% block title %}ApoSongs | Modification {{bandName}}{% endblock %}

{% block body %}


<div class="col-lg-10 mx-auto mt-3 mt-md-0">
    {{ form_start(form) }}
    <h2>Modification du groupe {{bandName}}</h2>

    <hr>

    <h3>Éléments obligatoires signalés par *</h3>
    {{form_row(form.name)}}
    {{form_row(form.bandActivityStart)}}
    {{form_row(form.logoImg)}}
    {{form_row(form.altImg)}}
    {{form_row(form.save)}}

    <hr>

    {{ form_end(form) }}
</div>

    
{% endblock %}

{% block customScript %}

    <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.js"></script>
    <script>

    $(document).ready(function () {

        bsCustomFileInput.init()

    });
    </script>

{% endblock %}
